thead,
tbody {
	display: flex;
	justify-content: space-between;
}

.job-name {
	padding: 5px;
}

.room-name {
	padding: 5px;
}

.window-info {
	margin-left: auto;
	width: 90%;
}

.job-cost {
	text-align: right;
	padding-right: 5px;
}
