@import 'src/global.scss';

.order-container {
	display: inline-block;
	overflow-y: scroll;
	padding: 5px;
	height: 100%;
	width: 100%;
}

.order {
	padding: 5px;
}

app-order {
	width: 100%;
	bottom: 0;
	position: sticky;
}